<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Fall Guys</title>
  <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
  <header>
    <a href="../index.html">← Volver a la tienda</a>
    <h1>Fall Guys</h1>
  </header>

  <main>
    <img src="../img/Fall guys.jpeg" alt="Fall Guys">
    <p>Un juego de estilo "humor y caos" donde compites en pruebas de obstáculos tipo concurso televisivo contra otros 59 jugadores. Gana el último en pie después de varias rondas eliminatorias.</p>
  </main>
</body>
</html>