<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Rainbow</title>
  <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
  <header>
    <a href="../index.html">← Volver a la tienda</a>
    <h1>Rainbow</h1>
  </header>

  <main>
    <img src="../img/Rainbow.jpeg" alt="Rainbow">
    <p>Shooter táctico en equipos de 5 contra 5. Unos atacan, otros defienden. Usa estrategias, gadgets y destrucción del entorno para cumplir objetivos. Se necesita coordinación y precisión.</p>
  </main>
</body>
</html>