<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mario Kart 8 DELUXE</title>
  <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
  <header>
    <a href="../index.html">← Volver a la tienda</a>
    <h1>Mario Kart 8 DELUXE</h1>
  </header>

  <main>
    <img src="../img/Mario.jpeg" alt="Mario Kart 8 DELUXE">
    <p>El clásico juego de carreras con personajes del mundo de Mario. Usa objetos locos para adelantar o molestar a tus rivales. Ideal para jugar con amigos y reírse un buen rato.</p>
  </main>
</body>
</html>