<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mortal Kombat 1</title>
  <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
  <header>
    <a href="../index.html">← Volver a la tienda</a>
    <h1>Mortal Kombat 1 </h1>
  </header>
  <main class="container">
    <section class="media">
      <img src="../img/Mortal.jpeg" alt="Mortal Kombat 1">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UZ6eFEjFfJ0" title="MK1 Trailer" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="info">
      <h2>Sinopsis</h2>
      <p>Regresa el clásico juego de lucha con nuevos personajes, fatalities y una historia épica.</p>
      <h2>Características</h2>
      <ul>
        <li>🥋 Combates 1v1 brutales</li>
        <li>💀 Fatalities clásicos</li>
        <li>🔥 Historia cinemática</li>
      </ul>
      <button class="btn">Añadir al carrito</button>
    </section>
  </main>
</body>
<body class="MortalKombat1-bg"></body>
</html>