<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mortal Kombat</title>
  <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
  <header>
    <a href="../index.html">← Volver a la tienda</a>
    <h1>Mortal Kombat</h1>
  </header>

  <main>
    <img src="../img/Mortal.jpeg" alt="Mortal Kombat">
    <p>La nueva entrega reinicia la historia con Liu Kang como dios del fuego. Combates brutales, personajes clásicos renovados y fatalities espectaculares en un universo más cinematográfico.</p>
  </main>
</body>
</html>