<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Assassin's</title>
  <link rel="stylesheet" href="../css/style.videojocs.css">
</head>
<body>
  <header>
    <a href="../index.html">← Volver a la tienda</a>
    <h1>Assassin's</h1>
  </header>

  <main>
    <img src="../img/Assassin's.jpeg" alt="Assassin's">
    <p>Una serie de aventuras en distintas épocas históricas (Egipto, Grecia, Renacimiento, etc.) donde eres un asesino que lucha contra los templarios. Mezcla sigilo, parkour y combate.</p>
  </main>
</body>
</html>